{% extends "main/base.html" %}

{% block 'title' %}Django Todolist{% endblock 'title' %}
    

{% block 'content' %}
<div class="col-lg-6 col-md-8 col-11 p-3 m-auto border rounded-3 shadow">
    <h1 class="p-2 text-primary text-center border-bottom">
        Django Todolist
        <form class="d-inline" action="/accounts/logout/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </h1>
    <p class="text-center">Welcome, {{ request.user.first_name }}</p>
    
    <form action="{% url 'todo-create' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="todo_text" class="form-control" placeholder="Your plan here" required>
            <input type="date" name="todo_due_date" class="form-control" required>
            <button type="submit" class="btn btn-primary" type="button">Add</button>
        </div>
    </form>
    <ul class="list-group list-group-flush overflow-auto" style="max-height: 300px;">                    
        {% for todo in todos %}
            <li class="list-group-item {% if todo.status %}text-bg-dark{% endif %}">
                <div class="row">
                    <div class="col">
                        <p class="align-middle mb-0">                                        
                            {% if todo.status %}
                                <del>{{ todo.text }}</del>
                            {% else %}
                                {{ todo.text }}
                            {% endif %}                                            
                        </p>
                        <small>{{ todo.due_date|date:"l, d F o" }}</small>
                    </div>
                    <div class="col text-end">
                        <div class="btn-group align-middle">
                            
                            {% if todo.status %}
                                <a href="{% url 'todo-update' todo.id %}" class="btn btn-secondary">Redo</a>
                            {% else %}
                                <a href="{% url 'todo-update' todo.id %}" class="btn btn-primary">Done</a>
                            {% endif %}                                            
                            
                            <a href="{% url 'todo-delete' todo.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock 'content' %}